/*
* @Author: Administrator
* @Date:   2018-02-23 12:49:57
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-23 13:00:47
*/
@import url('base.css');
header{
	width: 100%;
	height: 77px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.1);
}
a{
	text-decoration: none;
}
.header_box{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	background: white;
}
.header_zp{
	display: block;
	float: left;
	width: 195px;
	height: 48px;
	margin-top: 14px;
	margin-left: 10px;
}
.header_zp img{
	width: 100%;
	height: 100%;
}
.header_right{
	max-width: 600px;
	height: 50px;
	float: right;
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 10px;
}
.header_right a{
	text-decoration: none;
}
.header_right1{
	display: block;
	font-size: 15px;
	color: white;
	margin: 0 15px;
}
.header_right .header_right1:nth-child(5){
	color: skyblue;
}
.header_right1:hover{
	color: #62a8ea;
}
.header_box1{
	width: 100%;
	margin: 0 auto;
	background: white;
}
.header_zp1{
	display: block;
	float: left;
	width: 165px;
	height: 38px;
	margin-top: 14px;
	margin-left: 10px;
}
.header_zp1 img{
	width: 100%;
	height: 100%;
}
.header_right2{
	float: right;
	width: 30px;
	height: 30px;
	margin-right:10px;
	margin-top: 23px;
}





nav{
	width: 100%;
	position: relative;
}
nav a{
	display: block;
}
nav a img{
	width: 100%;
	height: 100%;
}
.nav1 p{
	position: absolute;
	right: 0;
    top: 40%;
    font-size: 40px;
    color: white;
    padding: 0 20%;
    text-align: center;
}
.nav2 p{
	position: absolute;
	right: 0;
    top: 50%;
    font-size: 21px;
    color: white;
    padding: 0 20%;
    text-align: center;
}

@media screen and (min-width: 1024px){
    .header_box{display: block;}
    .header_box1{display: none;}
    .nav1{display: block;}
    .nav2{display: none;}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .header_box{display: block;}
    .header_box1{display: none;}
    .nav1{display: block;}
    .nav2{display: none;}
}
@media screen and (max-width: 768px){
    .header_box{display: none;}
    .header_box1{display: block;}
    .nav1{display: none;}
    .nav2{display: block;}
}

.textarea{
	width: 100%;
	height: auto;
	background: #f3f3f4;
	padding: 120px 0;
}
.input_text{
	width: 100%;
	border: 1px solid #e4e7e9;
	border-radius: 3px;
	outline: none;
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	color: #a3a8ab;
	margin-bottom: 20px;
	padding: 10px 15px;
}
.x1{
	background: #1a1a1a;
	color: #fff;
	font-weight: 700;
	padding: 10px 20px;
	border: none;
	border-radius: 2px;
	font-size: 25px;
}
.x1:focus{
	outline: none;
}
.b1{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.b1_img{
	width: 60px;
	height: 60px;
	background: #fff;
}
.b1_img i{
	display: block;
	font-family: 'iconfont';
	color: #55575d;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
}
.b1_text{
	margin-left: 30px;
}
.b1_text p{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #959595;
}
textarea{
	resize: vertical;
}

footer{
	width: 100%;
	height: auto;
	margin-top: 0;
	background: #f5f5f5;
	overflow: hidden;
}
.icon{
	text-align: center;
	margin-top: 20px;
}
.icon a{
	text-decoration: none;
	padding: 0 10px;
}
.icon a i{
	font-family: 'iconfont';
	font-size: 30px;
}
.icon .weixin i{
	color: #83b944 !important;
}
.icon .qq i{
	color: #62a8ea;
}
.icon .youjian i{
	color: #62a8ea;
}
.banquan{
	text-align: center;
}
.bq1{
	margin-right: 10px;
}
.dianhua{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: #aaaaaa;
}
.gongsi{
	width: 100%;
	text-align: center;
	color: #aaaaaa;
}






@font-face {
  font-family: 'iconfont';  /* project id 550806 */
  src: url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.eot');
  src: url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id 535838 */
  src: url('https://at.alicdn.com/t/font_535838_xijunonk8z3yp66r.eot');
  src: url('https://at.alicdn.com/t/font_535838_xijunonk8z3yp66r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_535838_xijunonk8z3yp66r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_535838_xijunonk8z3yp66r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_535838_xijunonk8z3yp66r.svg#iconfont') format('svg');
}