/*
* @Author: Administrator
* @Date:   2018-02-23 15:01:02
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-23 15:59:44
*/
@import url('base.css');
header{
	width: 100%;
	height: 77px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.1);
}
a{
	text-decoration: none;
}
.header_box{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	background: white;
}
.header_zp{
	display: block;
	float: left;
	width: 195px;
	height: 48px;
	margin-top: 14px;
	margin-left: 10px;
}
.header_zp img{
	width: 100%;
	height: 100%;
}
.header_right{
	max-width: 600px;
	height: 50px;
	float: right;
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 10px;
}
.header_right a{
	text-decoration: none;
}
.header_right1{
	display: block;
	font-size: 15px;
	color: white;
	margin: 0 15px;
}
.header_right .header_right1:nth-child(6){
	color: skyblue;
}
.header_right1:hover{
	color: #62a8ea;
}
.header_box1{
	width: 100%;
	margin: 0 auto;
	background: white;
}
.header_zp1{
	display: block;
	float: left;
	width: 165px;
	height: 38px;
	margin-top: 14px;
	margin-left: 10px;
}
.header_zp1 img{
	width: 100%;
	height: 100%;
}
.header_right2{
	float: right;
	width: 30px;
	height: 30px;
	margin-right:10px;
	margin-top: 23px;
}





nav{
	width: 100%;
	position: relative;
}
nav a{
	display: block;
}
nav a img{
	width: 100%;
	height: 100%;
}
.nav1 p{
	position: absolute;
	right: 0;
    top: 40%;
    font-size: 40px;
    color: white;
    padding: 0 20%;
    text-align: center;
}
.nav2 p{
	position: absolute;
	right: 0;
    top: 50%;
    font-size: 21px;
    color: white;
    padding: 0 20%;
    text-align: center;
}






@media screen and (min-width: 1024px){
    .header_box{display: block;}
    .header_box1{display: none;}
    .nav1{display: block;}
    .nav2{display: none;}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .header_box{display: block;}
    .header_box1{display: none;}
    .nav1{display: block;}
    .nav2{display: none;}
}
@media screen and (max-width: 768px){
    .header_box{display: none;}
    .header_box1{display: block;}
    .nav1{display: none;}
    .nav2{display: block;}
}

.work{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 120px 0;
	box-sizing: border-box;
}
.work_head{
	width: 600px;
	margin: 0 auto 50px;
}
.work_head h1{
	font-size: 36px;
	text-align: center;
	color: #0d0d0d;
	font-weight: 700;
}
.work_head p{
	font-size: 14px;
	line-height: 22px;
	color: #55575d;
	text-align: center;
}
.work_shop{
	height: auto;
	margin-bottom: 30px;
}
.work_shop a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.work_shop img{
	width: 100%;
	height: 100%;
}
.zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.work_shop:hover .zhezhao{
	display: block;
	animation: aa 0.5s;
}
@keyframes aa{
	0%{
		background: rgba(0, 0, 0, 0.0);
	}
	100%{
		background: rgba(0, 0, 0, 0.5);
	}
}
.work_logo{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 30%;
	left: 0;
	display: none;
}
.icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 auto;
}
.icon img{
	width: 100%;
	height: 100%;
}
.work_name{
	width: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	bottom: 30%;
	left: 0px;
	display: none;
}
.work_shop:hover .work_logo{
	display: block;
	animation: bb 0.5s;

}
@keyframes bb{
	0%{
		transform: translateY(-120%);
	}
	100%{
		transform: translateY(0px);
	}
}
.work_shop:hover .work_name{
	display: block;
	animation: cc 0.5s;
}
@keyframes cc{
	0%{
		transform: translateY(120%);
	}
	100%{
		transform: translateY(0px);
	}
}



footer{
	width: 100%;
	height: auto;
	margin-top: 0;
	background: #f5f5f5;
	overflow: hidden;
}
.icon{
	text-align: center;
	margin-top: 20px;
}
.icon a{
	text-decoration: none;
	padding: 0 10px;
}
.icon a i{
	font-family: 'iconfont';
	font-size: 30px;
}
.icon .weixin i{
	color: #83b944 !important;
}
.icon .qq i{
	color: #62a8ea;
}
.icon .youjian i{
	color: #62a8ea;
}
.banquan{
	text-align: center;
}
.bq1{
	margin-right: 10px;
}
.dianhua{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: #aaaaaa;
}
.gongsi{
	width: 100%;
	text-align: center;
	color: #aaaaaa;
}






@font-face {
  font-family: 'iconfont';  /* project id 550806 */
  src: url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.eot');
  src: url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_550806_wg1qtzggh18gds4i.svg#iconfont') format('svg');
}